<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Create New User</title>
</head>
<body>
    <!-- Form page, allow user to input necessary information to be added into the database -->
    <form action="/user/create" method="post" class="col-6 mx-auto">
        <!-- FN, LN, and email should be inputted, add a submit button (should redirect to the Read All page after) -->
        <div class="form">
            <label for="first_name">First Name: </label>
            <input type="text" name="first_name" class = "control">
        </div>
        <div class="form">
            <label for="last_name">Last Name: </label>
            <input type="text" name="last_name" class="control">
        </div>
        <div class="form">
            <label for="email">Email: </label>
            <input type="text" name="email" class="control">
        </div>
        <input type="submit" value="Add User" class="btn btn-success">
    </form>
</body>
</html>